body {
  background-image: url('../img/imgVing.jpg');
  background-size: auto; /* Isso permite que a imagem mantenha seu tamanho original */
  background-repeat: repeat; /* Faz com que a imagem se repita */
  background-position: center; /* Centraliza a imagem */

}