body {
  background-image: url('../img/imgVing.jpg');
  background-size: auto; /* Isso permite que a imagem mantenha seu tamanho original */
  background-repeat: repeat; /* Faz com que a imagem se repita */
  background-position: center; /* Centraliza a imagem */

}


  /* form h2 {
    text-align: center;
    font-size: 35px;
    margin-bottom: 10%;
    margin-top: 10%;
    height: 80px;
  }
  
  .input-group {
    margin-bottom: 20px;
    margin-top: 20px;
    
  }
  
  .input-group label {
    display: block;
    margin-bottom: 20px;
  }
  
  .input-group input[type="text"],
  .input-group input[type="password"],
  
  .input-group select {
    width: 100%;
    padding: 10px;
    border: 1px solid #FFFFFF;
    border-radius: 4px;
    box-sizing: border-box;
  
    border-color: #E2E2E2; /* Borda cinza mais escura */
    /* color: #FFFF;
    
  }
  
  
  button {
    width: 100%;
    padding: 15px;
    border: none;
    border-radius: 4px;
    background-color: #2f312fb6;
    color: white;
    cursor: pointer;
    font-size: 15px;
    margin-top: 5%;
  }
  
  button:hover {
    background-color: #2a2c2adc;
  } */ 