body, html {
  height: 100%; /* Define a altura do body e html como 100% da altura da janela do navegador */
  margin-top: 5px; /* Remove as margens padrão do body e html */
  padding: 5px; /* Remove o preenchimento padrão do body e html */
 
}

body {
  background-image: url('/semestre/login/img/imgVing22.jpg');
  background-size: cover; /* Faz com que a imagem cubra toda a tela */
  background-repeat: no-repeat;
  background-position: center;
}

/* Estilo para o formulário */
#form-cadastro {
  box-shadow: #000000;
  padding: 20px;
  border-radius: 30px;
}